In [2]:
import pandas as pd
from sqlalchemy.engine import create_engine
import numpy as np

# create connection to od_data Elephant SQL database
engine = create_engine('postgres://vytvspcu:dY-9LiIppKfYL94d9ShVXApCBayxPu9Z@drona.db.elephantsql.com:5432/vytvspcu') 
conn = engine.connect()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
# SQL Query
df = pd.read_sql(f"""select * from zips where county_name = 'Spokane'""", engine)

In [4]:
"""from google.colab import drive
drive.mount('/gdrive')"""

"from google.colab import drive\ndrive.mount('/gdrive')"

In [5]:
df.value_counts()

index  V5 Zip  V5 City                   V5 State    county_name  City                      State  Latitude   Longitude    Timezone  Daylight savings time flag  geopoint
33099  99016   Spokane Valley            Washington  Spokane      Greenacres                WA     47.648693  -117.151160  -8.0      1.0                         47.648693,-117.15116     1
32735  99030   Rockford                  Washington  Spokane      Rockford                  WA     47.463725  -117.113190  -8.0      1.0                         47.463725,-117.11319     1
32731  99025   Newman Lake               Washington  Spokane      Newman Lake               WA     47.751434  -117.069340  -8.0      1.0                         47.751434,-117.06934     1
32730  99023   Mica                      Washington  Spokane      Mica                      WA     47.554592  -117.183520  -8.0      1.0                         47.554592,-117.18352     1
32729  99022   Medical Lake              Washington  Spokane      Medical Lake              WA     47.583754  -117.688120  -8.0      1.0                         47.583754,-117.68812     1
32728  99021   Mead                      Washington  Spokane      Mead                      WA     47.811080  -117.223060  -8.0      1.0                         47.81108,-117.22306      1
32727  99020   Marshall                  Washington  Spokane      Marshall                  WA     47.563191  -117.495900  -8.0      1.0                         47.563191,-117.4959      1
32726  99019   Liberty Lake              Washington  Spokane      Liberty Lake              WA     47.656171  -117.086280  -8.0      1.0                         47.656171,-117.08628     1
32725  99018   Latah                     Washington  Spokane      Latah                     WA     47.277842  -117.136390  -8.0      1.0                         47.277842,-117.13639     1
32723  99016   Greenacres                Washington  Spokane      Greenacres                WA     47.648693  -117.151160  -8.0      1.0                         47.648693,-117.15116     1
32721  99012   Fairfield                 Washington  Spokane      Fairfield                 WA     47.383651  -117.185680  -8.0      1.0                         47.383651,-117.18568     1
32720  99011   Fairchild Air Force Base  Washington  Spokane      Fairchild Air Force Base  WA     47.595572  -117.673440  -8.0      1.0                         47.595572,-117.67344     1
32719  99009   Elk                       Washington  Spokane      Elk                       WA     48.041663  -117.248910  -8.0      1.0                         48.041663,-117.24891     1
32717  99006   Deer Park                 Washington  Spokane      Deer Park                 WA     47.966471  -117.481450  -8.0      1.0                         47.966471,-117.48145     1
32716  99005   Colbert                   Washington  Spokane      Colbert                   WA     47.844289  -117.372740  -8.0      1.0                         47.844289,-117.37274     1
32715  99004   Cheney                    Washington  Spokane      Cheney                    WA     47.466974  -117.605750  -8.0      1.0                         47.466974,-117.60575     1
32714  99003   Chattaroy                 Washington  Spokane      Chattaroy                 WA     47.921687  -117.293780  -8.0      1.0                         47.921687,-117.29378     1
32733  99027   Otis Orchards             Washington  Spokane      Otis Orchards             WA     47.703698  -117.120070  -8.0      1.0                         47.703698,-117.12007     1
32736  99031   Spangle                   Washington  Spokane      Spangle                   WA     47.432691  -117.374490  -8.0      1.0                         47.432691,-117.37449     1
32822  99224   Spokane                   Washington  Spokane      Spokane                   WA     47.632573  -117.493260  -8.0      1.0                         47.632573,-117.49326     1
32740  99036   Valleyford                Washington  Spokane      Valleyford                WA     47.525070  -117.270540  -8.0      1.0                         47.52507,-117.27054      1
32821  99223   Spokane                   Washington  Spokane      Spokane                   WA     47.614744  -117.358920  -8.0      1.0                         47.614744,-117.35892     1
32820  99218   Spokane                   Washington  Spokane      Spokane                   WA     47.751674  -117.412400  -8.0      1.0                         47.751674,-117.4124      1
32819  99217   Spokane                   Washington  Spokane      Spokane                   WA     47.707542  -117.337760  -8.0      1.0                         47.707542,-117.33776     1
32818  99216   Spokane Valley            Washington  Spokane      Spokane                   WA     47.665819  -117.216990  -8.0      1.0                         47.665819,-117.21699     1
32817  99212   Spokane Valley            Washington  Spokane      Spokane                   WA     47.668926  -117.306680  -8.0      1.0                         47.668926,-117.30668     1
32816  99208   Spokane                   Washington  Spokane      Spokane                   WA     47.740491  -117.439160  -8.0      1.0                         47.740491,-117.43916     1
32815  99207   Spokane                   Washington  Spokane      Spokane                   WA     47.693741  -117.388290  -8.0      1.0                         47.693741,-117.38829     1
32814  99206   Spokane Valley            Washington  Spokane      Spokane                   WA     47.646994  -117.259120  -8.0      1.0                         47.646994,-117.25912     1
32813  99205   Spokane                   Washington  Spokane      Spokane                   WA     47.693990  -117.439790  -8.0      1.0                         47.69399,-117.43979      1
32812  99204   Spokane                   Washington  Spokane      Spokane                   WA     47.648941  -117.431740  -8.0      1.0                         47.648941,-117.43174     1
32811  99203   Spokane                   Washington  Spokane      Spokane                   WA     47.629091  -117.406360  -8.0      1.0                         47.629091,-117.40636     1
32810  99202   Spokane                   Washington  Spokane      Spokane                   WA     47.656692  -117.378990  -8.0      1.0                         47.656692,-117.37899     1
32809  99201   Spokane                   Washington  Spokane      Spokane                   WA     47.663945  -117.431850  -8.0      1.0                         47.663945,-117.43185     1
32742  99039   Waverly                   Washington  Spokane      Waverly                   WA     47.329704  -117.244981  -8.0      1.0                         47.329704,-117.244981    1
32741  99037   Spokane Valley            Washington  Spokane      Veradale                  WA     47.643346  -117.199930  -8.0      1.0                         47.643346,-117.19993     1
32713  99001   Airway Heights            Washington  Spokane      Airway Heights            WA     47.642922  -117.591490  -8.0      1.0                         47.642922,-117.59149     1
dtype: int64

In [6]:
df = df.rename(columns={'V5 Zip':'zipcode',})
df = df.rename(columns={'City':'city',})

In [7]:
small = df[['zipcode', 'city','county_name']].copy()

In [8]:
small.head()

   zipcode            city county_name
0    99001  Airway Heights     Spokane
1    99003       Chattaroy     Spokane
2    99004          Cheney     Spokane
3    99005         Colbert     Spokane
4    99006       Deer Park     Spokane

In [9]:
small.to_csv('/content/small_zipcodes.csv')

In [10]:
# Added income eligibility requirements based off family size from https://www.huduser.gov/portal/datasets/il/il2020/2020summary.odn

import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/fp-rap-build/data-science/main/data/eligibility_requirements_spokane_zipcodes%20-%20data.csv')

data.head()

   zipcode            city county_name  family_members  annual_income
0    99001  Airway Heights     Spokane               1          43350
1    99001  Airway Heights     Spokane               2          49550
2    99001  Airway Heights     Spokane               3          55750
3    99001  Airway Heights     Spokane               4          61900
4    99001  Airway Heights     Spokane               5          66900

In [11]:
data['monthly_income'] = data['annual_income'].div(12).round(2)

In [12]:
data

     zipcode            city  ... annual_income  monthly_income
0      99001  Airway Heights  ...         43350         3612.50
1      99001  Airway Heights  ...         49550         4129.17
2      99001  Airway Heights  ...         55750         4645.83
3      99001  Airway Heights  ...         61900         5158.33
4      99001  Airway Heights  ...         66900         5575.00
..       ...             ...  ...           ...             ...
291    99016  Spokane Valley  ...         61900         5158.33
292    99016  Spokane Valley  ...         66900         5575.00
293    99016  Spokane Valley  ...         71580         5965.00
294    99016  Spokane Valley  ...         76800         6400.00
295    99016  Spokane Valley  ...         81750         6812.50

[296 rows x 6 columns]

# If/ else statement

In [ ]:
# Sudo code

zipcode = 99001
family_members = 5
monthly_income = 4000

if zipcode == 99224 > x > 99001
    return 'Spokane'

if family_size = 1 in 'Spokane'
    return annual_income = 43350 

elif family_size = 2 
    return 49550

elif family_size = 3 
    return 55750

elif family_size = 4 
    return 61900

elif family_size = 5
    return 66900

elif family_size = 6
    return 71580

elif family_size = 7
    return 76800

elif family_size = 8
    return 81750


if eligibility == "approved" :
    print("Apply to SNAP")

elif eligibility == "pending" :
     print("Apply to Catholic Charities")

else eligibility == "pending" :
     print("Apply to Family Promise")